<div class="container py-5 my-5">
  <div class="container card" style="max-width: 600px;">
    <div class="card-body">
      <h1>Welcome to Home Page</h1>
      <p class="h2 card-title">
        <%= user.firstName + ' ' + user.lastName %>
      </p>

      <p class="lead">Email: <%= user.email %> </p>

      <a href="/logout">Logout</a>

    </div>
  </div>
</div>
